node_modules/*
node_modules/
dist
dist/*
dist/**
nbproject/*
*.log
src/tools/Stresstest/node_modules/*
src/tools/Stresstest_TS/node_modules/*
src/tools/Database/compare/nbproject/private/
src/tools/Database/compare/node_modules/
deploy.zip

.DS_Store
**/.DS_Store
cms-prod-dump.sql
**/cms-prod-dump.sql

.elasticbeanstalk/
.elasticbeanstalk/**/*

# Elastic Beanstalk Files
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml
!src/geometry/dist
public/widgets/
public/fonts/
public/jsxgraph/
public/prep/
public/*
!public/test/

src/akit-url.ts
.vscode/launch.json
