.que.algebrakit {
    /* styling for Algebrakit question here, if needed */
}

.qtype_algebrakit-editor-button-wrapper {
    padding-top: 10px;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    width: 100%;
    gap: 15px;
    padding-bottom: 15px;
    margin-left: 50px;
}

.qtype_algebrakit-editor-button-wrapper  .algebrakit-button {
    background-color: #009fe3;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

.qtype_algebrakit-editor-button-wrapper .algebrakit-button:hover {
    background-color: #008dd0;
}

.qtype_algebrakit-editor-akit-preview {
    width: calc(100% - 50px);
    margin: 0 50px;
}